---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - read,client,admin,identify,post,apps
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Slack-Req-Id:
      - c1572c5b-d481-4d73-a768-a56e12f8734f
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-9dy9
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C93NXTHLY","name":"general","is_channel":true,"created":1517896229,"is_archived":false,"is_general":true,"unlinked":0,"creator":"U93NXTEGY","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["U93NXTEGY"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"U93NXTEGY","last_set":1517896229},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"U93NXTEGY","last_set":1517896229},"previous_names":[],"num_members":1},{"id":"C94G6CSBF","name":"random","is_channel":true,"created":1517896229,"is_archived":false,"is_general":false,"unlinked":0,"creator":"U93NXTEGY","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["U93NXTEGY"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"U93NXTEGY","last_set":1517896229},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"U93NXTEGY","last_set":1517896229},"previous_names":[],"num_members":1}]}'
  recorded_at: Wed, 02 May 2018 17:46:08 GMT
recorded_with: VCR 4.0.0
