<section class="channels-list">
  <h1>Ada Channels</h1>
  <% if @channels %>
    <ul>
      <% @channels.each do |channel| %>
        <li>
          <%= link_to channel.name, new_message_path(channel.name) %>
          <%# this channel.name is a factory method calling our from api%>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
